* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
.btn {
    min-width: 98px;
    background: var(--primary-color);
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    padding: 15px 16px;
}
.btn:hover {
    opacity: 0.9;
}
/*common*/
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
/*header*/
.header {
    background: #e6f0ff;
    height: 100vh;
    position: relative;
}
.header .content .navbar {
    display: flex;
}
.navbar ul {
    display: flex;
    margin-left: 50px;
}
.navbar .action {
    margin-left: auto;
}
.navbar {
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px 14px;
}
.navbar .action-link {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-color);
}
.navbar .action-btn {
    padding: 12px 16px;
    margin-left: 18px;
    border-radius: 8px;
}
.navbar ul a:hover {
    text-decoration: underline;
}
.content .hero {
    margin-top: 130px;
}
.hero .infor .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
}
.hero .infor .title {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: #000336;
    margin-top: 8px;
}
.hero .infor {
    width: 51%;
}
.hero .infor .desc {
    font-size: 1.8;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
}
.hero .infor .btn {
    margin-top: 40px;
    min-width: 170px;
}
.hero .hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}
.clients {
    margin-top: 122px;
}
.clients .row {
    display: flex;
    justify-content: space-between;
}
.clients .desc {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0px;
    text-align: left;
    color: #7d8589;
}
.clients .row-desc {
    margin-top: 23px;
}
.clients .imgages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 96px;
}
/*guide*/
.guides {
    margin-top: 200px;
}
.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.guides .desc {
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    margin-top: 20px;
}
.guides .sub-title::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #000339;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.guide-item {
    margin: 0 70px;
    text-align: center;
}
.guide-item .title {
    color: #3b3c45;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    margin-top: 26px;
    line-height: 1.1; /* 110% */
}
.guide-item .link {
    color: #0689ff;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
    display: inline-block;
}
.guide-item .arrow {
    margin-left: 6px;
}
.guides .guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.guide-cta .btn {
    min-width: 170px;
}
.featured {
    margin-top: 230px;
}
.featured header .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.featured header .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}
.featured header .link {
    color: #0689ff;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.featured header .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
